* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #9dc4c4;
}
.calc{
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -221px;
    margin-left: -160px;
    display: flex;
    width: 310px;
    height: 442px;
    padding: 30px;
    background: #3bcfd1;
    border-radius: 30px;
    border: 1px solid #3bcfd1;
    box-shadow: 3px 3px 5px gray;
    transition: all 0.5s ease;
}
.calc:hover{
    box-shadow: 3px 3px 15px gray;
    transition: all 0.5s ease;
}
.calc input{
    margin: 7px 7px;
    width: 165px;
    height: 42px;
    line-height: 40px;
    padding-left: 12px;
    font-size: 18px;
    color: #fdfffc;
    letter-spacing: 1px;
    background: transparent;
    border-radius: 10px;
    border: 2px solid #ffffff;
    box-shadow: 1px 1px 5px gray;
    transition: all 0.5s ease;
}
.calc input::placeholder{
    color: #ffffff;
}
.calc input:focus{
    box-shadow: 1px 1px 10px gray;
    transition: all 0.5s ease;
}
.calc button{
    cursor: pointer;
    margin: 7px 7px;
    width: 42px;
    height: 42px;
    font-size: 18px;
    font-weight: bold;
    background: transparent;
    border-radius: 10px;
    border: 2px solid #ffffff;
    transition: all 0.5s;
    color: #fdfffc;
    box-shadow: 1px 1px 5px gray;
}
.calc button:hover{
    box-shadow: 1px 1px 10px gray;
    transition: all 0.5s ease;
    color: #3bcfd1;
    background: #ffffff;
}